:root{
    --Moderateviolet: hsl(263, 55%, 52%);
    --Verydarkgrayishblue: hsl(217, 19%, 35%);
    --Verydarkblackishblue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(0, 0%, 81%);
    --font-family: 'Barlow Semi Condensed', sans-serif;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*:before,
*:after{
    box-sizing: inherit;
}


body{
    font-size: 15px;
    max-width: 375px;
    margin: 0% auto;
    background-color: var(--Lightgray);
    font-family: var(--font-family);

}

.contenedor{
    margin-top: 0% auto;
    padding: 1rem;

}

.caja{
    background-color: var(--Moderateviolet);
    padding: 3rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    max-height: 42rem;
}

.comillas{
    position: relative;
    bottom: 3rem;
}

.caja h2{
    color: var(--White);
    font-size: 1rem;
   
}

.basura{
    display: flex;
    justify-content: space-between;
    
}

.Daniel{
    border-radius: 5rem;
    width: 4rem;
    height: 4rem;
}

.caja p{
    color: var(--White);
    font-size: 2rem;
    padding: 0.5rem;
}

.parrafo{
    bottom: 8rem;
    position: relative;
}

.caja span{
    color: var(--Lightgray);
    font-size: 1.1rem;
    position: relative;
    bottom: 8rem;
}

.caja1{
    background-color: var(--Verydarkgrayishblue);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem;
}

.basura2{
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 1rem;
}

.Jonathan{
    border-radius: 5rem; 
    width: 4rem;
    height: 4rem;
}

.caja1 pre{
    color: var(--White);
    font-family: var(--font-family);
   
}

.caja1 p{
    color: var(--White);
    font-size: 2rem;
}


.parrafo2{
    color: var(--Lightgray);
    font-size: 1.1rem;
}

.caja2{
    background-color: var(--White);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem;
}

.Jeanette{
    border-radius: 4rem; 
    width: 4rem;
    height: 4rem;
}

.caja2 p{
    color: var(--Verydarkblackishblue);
    font-size: 2rem;
}



.caja3{
    background-color: var(--Verydarkblackishblue);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem;
}

.caja2 pre{
   font-family: var(--font-family);
    font-size: 1rem;
}


.basura3{
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 1rem;
}



.parrafo3{
    color: var(--Lightgray);
    font-size: 1.2rem;
}

.Patrick{
    border-radius: 5rem; 
    width: 4rem;
    height: 4rem;
}


.caja3 pre{
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--White);
}

.caja3 p{
    color: var(--White);
    font-size: 2rem;
}

.parrafo4{
    color: var(--Lightgray);
    font-size: 1.1rem;
}

.basura4{
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 1rem;
}

.caja4{
    background-color: var(--White);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem;
}


.Kira{
    border-radius: 5rem;
    width: 4rem;
    height: 4rem;
}

.caja4 pre{
    font-family: var(--font-family);
    font-size: 1rem;
    
}

.caja4 p{
    color: var(--Verydarkblackishblue);
    font-size: 1.9rem;
}

.basura5{
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 1rem;
}

.parrafo5{
    font-size: 1.2rem;
    color: var(--Lightgray);
}









































.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }